@import '../../styling/variables';

.button {
    display: flex;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    
    // Sizing 
    &--medium {
        @extend %heading;
        font-weight: $font-weight--medium;
        font-size: $font-size--small;

        & > svg {
            width: 25px;
        }
    }

    &--color-white {
        & > svg {
            fill: $white;
        }
    }

    &--color-grey {
        & > svg {
            fill: $grey3;
        }
    }

    // Button type
    &--primary {
        border: 3px solid $black;
        background-color: $grey1;
        color: $black;
    }

    &--text {
        border: none;
        background: transparent;
    }   
}