%containerLayout {
  display: flex;
  align-items: center;
}

/*
* LIGHT PAGE THEME COLOURING
*/
@mixin theme-light {
  background-color: $white;

  .page {
    &__header > .search-bar {
      border-bottom: 1px solid $grey4;

      svg {
        color: $grey4;
      }

      input {
        color: $grey3;
      }
    }

    &__sidebar {
      background-color: $grey1;

      h1,
      h2 {
        color: $black;
      }

      h3 {
        color: $grey4;
      }

      img {
        border: 3px solid $black;
      }

      hr {
        border-color: $grey4;
      }
    }

    &__main {
      .product-card {
        background-color: $grey1;

        &__name {
          color: $black;
        }

        &__description {
          color: $black;
        }

        &__technologies {
          p {
            color: $black;
          }
        }
      }
    }
  }

  .splash-screen {
    background-color: $grey1;

    &__container {
      color: $black;
    }
  }
}

/*
* DARK PAGE THEME COLOURING
*/
@mixin dark-theme {
  background-color: $navy;

  &__sidebar {
    background-color: $dark-blue;
  }
}

/*
* PAGE SCSS
*/
.page {
  @include dark-theme;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6vh auto;
  grid-template-areas:
    'header'
    'main';

  &--light {
    @include theme-light;
  }

  &__header {
    @extend %containerLayout;
    display: flex;
    justify-content: space-between;
    grid-area: header;
    padding: $space $space-xl;

    @media screen and (max-width: $screen-xs-max) {
      padding: $space-s $space-ml 0;
    }

    & > button {
      padding: 0;

      @media screen and (min-width: $screen-xs-max) {
        display: none;
      }
    }
  }
  &__sidebar {
    @extend %containerLayout;
    border-right: 3px solid $black;
    grid-area: menu;
    display: none;
    box-shadow: none;
    padding: 20px;

    & > div {
      height: 100%;
    }
  }
  &__main {
    grid-area: main;
    padding: 10px;
    overflow: scroll;

    &--no-content {
      display: block;
      width: 100%;
      font: 400 14px Arial, Helvetica, sans-serif;
      color: $grey1;
      text-align: center;
    }
  }
  @media (min-width: $screen-sm-min) {
    grid-template-columns: minmax(230px, 15vw) auto;
    grid-template-rows: 6vh auto;
    grid-template-areas:
      'menu header'
      'menu main';

    &__sidebar {
      display: unset;
    }
  }
}
