@import '../variables';

h1 {
  @extend %heading;
  font-size: $font-size--large;
  font-weight: $font-weight--bold;
}

h2 {
  @extend %heading;
  font-size: $font-size;
  font-weight: $font-weight--bold;
}

h3 {
  @extend %heading;
  font-size: $font-size--extra-small;
  font-weight: $font-weight--bold;
}