@import '../../styling/variables';

.product-card {
  display: block;
  padding: 10px;
  margin: $space-ml;
  background-color: $dark-blue;
  border: 3px solid $black;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out 0s;

  @media screen and (max-width: $screen-xs-max) {
    margin: $space-m;
  }

  &:hover {
    transform: scale(1.04);
    box-shadow: none;
  }

  &__name {
    @extend %heading;
    font-size: $font-size--small;
    font-weight: $font-weight--bold;
    display: block;
    margin: 20px;
    color: $white;
  }

  &__description {
    @extend %heading;
    font-size: $font-size--small;
    font-weight: $font-weight;
    display: block;
    margin: 20px;
    color: $grey1;
  }

  &__technologies {
    @extend %heading;
    font-size: $font-size--small;
    font-weight: $font-weight;
    display: block;
    margin: 20px;
    color: $grey1;
  }

  &:first-of-type  {
    margin-top: 0;
  }
}