@import '../../styling/variables';

%fullscreen {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %fullscreen;
    z-index: 1060;

    &--no-content {
        display: none;
    }

    &__content {
        min-height: 60vh;
        min-width: 500px;
        border: $space-xs solid $black;
        background-color: $dark-blue;

        @media screen and (max-width: $screen-xs-max) {
            min-width: auto;
            width: 100vw;
            height: 99vh;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $space $space-s $space-sm;

        h1 {
            @extend %heading;
            font-size: $font-size--large;
            font-weight: $font-weight--bold;
            color: $white;
            text-align: center;
            margin: 0;
        }

        &--placeholder,
        button {
            width: 30px;
            height: 30px;
            margin: 0;
        }
    }
}