// Colors
$white: #fff;
$grey1: #b4b4b4;
$grey2: #424242;
$grey3: #636363;
$grey4: #1b1b1b;
$black: #000;

$navy: #000034;
$dark-blue: #1C244C;
$blue: #0079ca;

$colors-list: (
  'white': $white,
  'grey1': $grey1,
  'grey2': $grey2,
  'grey3': $grey3,
  'grey4': $grey4,
  'black': $black,
) !default;