%containerLayout  {
  display: flex;
  align-items: center;
  padding: 20px;
}

.page {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
    grid-template-rows: 6vh auto 4vh;
    grid-template-areas:
      'header'
      'main'
      'footer';
  background-color: $navy;

  &__header { 
    @extend %containerLayout;
    background-color: $dark-blue;
    grid-area: header; 
  }
  &__sidebar {
    @extend %containerLayout;
    background-color: $dark-blue;
    grid-area: menu; 
    display: none;
  }
  &__main { 
    grid-area: main; 
  }
  &__footer {
    @extend %containerLayout;
    padding: 0;
    background-color: $dark-blue;
    grid-area: footer; 
  }
  @media (min-width: $screen-sm-min) {
    grid-template-columns: 20vw auto;
    grid-template-rows: 6vh auto 4vh;
    grid-template-areas:
      'menu header'
      'menu main'
      'menu footer';

    &__sidebar { 
      display: unset;
    }
  }
}