//Grid
$screen-xs: 400px;
$screen-xs-min: $screen-xs;
$screen-xs-max: 768px;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-sm-max: 992px;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;

// Colors
$white: #fff;
$grey1: #b4b4b4;
$grey2: #424242;
$grey3: #252525;
$grey4: #1b1b1b;
$black: #000;

$navy: #000034;
$dark-blue: #1C244C