@import '../../styling/variables';

.search-bar {
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid $grey3;

  &__content {
    display: inline-block;
    width: 33ch;
    color: $grey3;

    > svg {
      margin-right: 7px;
      width: 12px;
    }

    > input {
      @extend %heading;
      font-size: $font-size--small;
      font-weight: $font-weight;
      color: $grey3;
      background-color: unset;
      border: unset;
      width: 30ch;

      &:focus {
        outline: none;
      }
    }
  }

  &__setting {
    svg {
      width: 24px;
      fill: $grey3;
    } 
  }
}