@import '../../styling/variables.scss';

.search-bar {
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid $grey3;

  &__content {
    display: inline-block;
    width: 33ch;
    color: $grey3;

    > svg {
      margin-right: 7px;
      width: 12px;
    }

    > input {
      color: $grey3;
      background-color: unset;
      border: unset;
      width: 30ch;
      font: 400 14px Arial, Helvetica, sans-serif;

      &:focus {
        outline: none;
      }
    }
  }

  &__setting {

    svg {
      width: 24px;
      fill: $grey3;
    } 
  }
}