@import '../../styling/variables';

.search-bar {
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid $grey1;

  &__content {
    display: inline-block;
    width: 33ch;
    color: $grey1;

    > svg {
      margin-right: 7px;
      width: 12px;
    }

    > label,
    > input {
      @extend %heading;
      font-size: $font-size--small;
      font-weight: $font-weight;
      color: $grey1;
      background-color: unset;
      border: unset;
      width: 30ch;
      height: 18px;
    }

    > label {
      position: absolute;
      top: 7px;
    }

    > input {
      &:focus {
        outline: none;
      }
    }
  }
}
