@import '../../styling/variables';

.sidebar {
  height: 100%;

  &__container {
    position: relative;
    height: 100%;
    padding: 5px 0;

    & > h1 {
      font-size: $font-size--small;
      color: $white;
      text-align: center;
      margin: 0;
    }

    & > img {
      display: block;
      margin: 50px auto 20px;
      border-radius: 50%;
      border: 3px solid $blue;
    }

    & > button {
      padding: $space-xs $space-sm;
    }
  }

  h2,
  h3 {
    font-size: $font-size--extra-small;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
  }

  h2 {
    color: $white;
  }

  h3 {
    color: $grey1;
  }

  button {
    margin: 0 auto;
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;

    &--icons {
      display: table;
      width: 100%;
      table-layout: fixed;
      color: $grey3;

      > * {
        display: table-cell;
        text-align: center;
      }

      svg {
        width: 24px;
        fill: $grey3;
      }
    }
  }
}
